.navbar {
    background-color: #f3f9f9;
}

#title {
    vertical-align: middle;
}

#jumbo-text {
    width: 100%; 
}

.carousel-inner {
    height: 600px;
}

.custom-img {
    object-fit: cover; 
    width: 400px; 
    height: 300px; 
}

.country-container {
    position: relative;
}

.country-text {
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

